.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.idea/*
# .idea/* yaptiktan sonra afer a commit yani after a clean state do:
# git rm .idea/workspace.xml
# ondan sonra git .idea folderi track etmeyi birakiyor.

a/less.exe.stackdump
b/less.exe.stackdump

