<html>
<body>
<p>
A new job has been added with the title <i><%= @job.title %></i>.
<br /><br />
The body is: "<%= @job.body %>"
<br /><br />
The user email is: <%= @job.user.email %>
<br /><br />
Go read the job at: <%= link_to @job.title, job_url(@job, :host => 'www.isgetir.com') %>
</p>
</body>
</html>