<div class="field">
  <%= label_tag :captcha_answer, t('general.captcha'), :class => "captcha" %>:<br />
  <%= label_tag :captcha_answer, '', :class => "notify_friend_captcha_question" %>
  <br />
  <%= text_field_tag :captcha_answer, '', :class => "notify_friend_captcha_answer" %>
</div>