$("#for_ajax").html("<%= escape_javascript(render(:file => "jobs/index")) %>");

$('.for_all_listing').show();


var j;

j= "<%= if !params[:job].nil? then params[:job][:category_id] end %>"
var cat_id = "<%= params[:category_id] %>";

if (j!='')
$('#select_box').val(j);
else
$('#select_box').val(cat_id);



if(cat_id > 0){
    $('#remove_category_anchor a').click( function(e){ e.preventDefault()}).addClass('disabled');
}

if(cat_id == 0 || cat_id == undefined){
$('#remove_category_anchor a').show();
}

var batin = $("input:submit");
batin.button();

batin.on ('click',  function() {
    batin.attr("disabled", true);
});

$(".stripeMe tr:even").addClass("alt");


window.scrollTo(0, 0);

$(".search_by_category_submit").live('click', function(){alert('guney')});

var locale = $("div.set_locale").text();

    $(".td_for_tooltip").tooltip({
    bodyHandler: function(){

        var url = $(this).children().val();

        var tip;

        if (locale == "tr"){
            tip = $("<span/>").html("yüklüyor...");
        }

        if (locale == "en"){
            tip = $("<span/>").html("loading...");
        }

        $.ajax({

            url: url,
            success: function(html){
             tip = tip.html(html);  //.replace(/(\r\n|\n|\r)/gm,"");

        }});

        return tip;
    },
    showURL: false,
    track: true,
    delay: 0,
    extraClass:"show_ajax matwork"     // right is a css class
});


    $(".search_by_category_submit").click(function(e){
        e.preventDefault();
        var i = $('#select_box').children(":selected").attr("value");
        var u;
        if (i==0)
           u = '/ajaxing/?category_id=' + 0;
        if (i>0)
           u = '/ajaxing/?category_id=' + i;

            $.ajax
            ({
                url:u,
                beforeSend:function()
                {
                    $('.for_spinner').show();
                },

                complete: function()
                {
                  $('.for_spinner').hide();
                }
            });
    });

$("#search_form_submit").click(function(e){

        e.preventDefault();

        var u = $("#search_form").serialize();

            $.ajax
            ({
                url:'/jobs//search?' + u,
                beforeSend:function()
                {
                    $('.for_spinner').show();
                },

                complete: function()
                {
                  $('.for_spinner').hide();
                }
            });
    });



    if (locale=="tr")
      var hint = "Aradığınız bilgiyi girin"
    if (locale=="en")
      var hint = "Please type in a search term"
    if (locale=="tr")
      var no_result = "Hiç bir sonuç bulunamadı"
    if (locale=="en")
      var no_result = "Could not find anything"
    if (locale=="tr")
      var searching = "Araştırılıyor..."
    if (locale=="en")
      var searching = "Searching..."

    $('#search_form_text_field').tokenInput("jobs/search_autocomplete",
        {

            theme: "facebook",
            minChars: 2,
            resultsLimit: 15,
            hintText: hint,
            noResultsText: no_result,
            searchingText: searching,
            preventDuplicates: true,
            resultsFormatter: function(item){
              return "<li>"  + item.name  + "," + "<span style='padding-left: 10px'>"+ item.location + "</span>" + "</li>"
          }
        }
    );