<h1><%= t('general.editing_job') %></h1>

<%= render 'form' %>

<div class="field1">
<br />
<%= link_to t('general.job_page'), @job %> |
<%= link_to t('general.link_to.root_path'), jobs_path %>



<br /><br /><br />
</div>