<h1><%= t('general.editing_job') %></h1>

<%= render 'form' %>

<div class="field1">
<%= link_to t('general.link_to.show'), @job %> |
<%= link_to t('general.link_to.back'), jobs_path %>



<br /><br /><br />
</div>