
<div class="users">

   <% @user.each do |user| %>
      <% unless current_user.email == user.email %>
          <ul>
            <li>
              <%= user.email %>
            </li>
          </ul>
      <% end %>
  <% end  %>
  <br />
  <br /> <br />
  <%= link_to t('general.main_list'),root_path, { :class=>"root"} %>
</div>


<br />
<br />
<%= link_to t('general.admin'), user_admin_path %>