

body{
    background-color: #add8e6;
    font-size: 1em;
}
p{
    font-size: 1em;
    font-family: arial;
}
table{
    margin-top: -30px;
}
th{
    text-align: left;
    padding: 5px;
    font-weight:normal;
}
table td{
    font-family: courier;
    font-size: .90em;
    padding-top: 20px;
    padding-left: 5px;
    text-align: left;
}

hr {
    background-color: #0066cc;
    height: 5px;
    border: 0px;
}

.field1{
    clear: left;
    float: left;
}
.field2{
    float: left;
    padding-right: 10px;
}

#notice, #alert{
    font-size: 20px;
    color: red;
}

.select_box {
    width: 240px;
}

.menu {
    float: right;
    /* .menu font color is set in application.js */
}

#log_in {
    float: right;
}
#footer{
    clear: left;
    position: relative;
    padding-top: 200px;
	text-align: center;
}

a:hover{
    background-color:#add8e6;
}
a:link {
    color:blue;
}

a:visited{
    color:blue;
}

a:active{
    color:#add8e6;
}


div.errorExplanation {
    color: red;
}

#collection_select {
    width: 230px;
}

#turkish_flag {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
}

#english_flag {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
}

div.main_title{
    display: block;
    font-size: 32px;
    font-weight: bold;
    clear: right;
}

#search_form_submit {
    /*position: absolute;*/
   margin-top: -10px;
   margin-left: -10px;
   float: right;

}
#search_form_text_field {
    /*position: absolute;*/
   margin-top: -10px;
   margin-left: -50px;
   float: right;
}

#link_to_below_search{
    /*position: absolute;*/
    /*right: 10px;*/
  clear: right;
  float: right;
}


div.index{
    float: left;
}

#listing_jobs_line{
    clear: right;
}



th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(up_arrow.png);
}

th .desc {
  background-image: url(down_arrow.png);
}