

/*
css rule yaratirken element icin specific - tam to the point - olmazsan
ise yaramiyor. Ornek:

div
  div
    a

div div a{}

*/

* {
  margin: 0 auto;
}

body{
    background-color: #fff;
    font-size: 1em;
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    width: 800px;
}
p{
    font-size: 1em;
}
.sort_by{
    float: left;
    clear: both;
    margin-top: 40px;
}

.sort_by .sort_by_links a{
    color:#D95E16;
}

.list{
    float:left;
    margin-top: 40px;
}

.list a{
    color:#D95E16;
}

.field1{
    clear: left;
    float: left;
}
.field2{
    float: left;
    padding-right: 10px;
}

#notice, #alert{
    font-size: 20px;
    color: red;
}

.select_box {
    width: 240px;
}

.menu {
    float: right;
    /* .menu font color is set in application.js */
}

#log_in {
    float: right;
}
#footer{
    clear: left;
    position: relative;
    padding-top: 200px;
	text-align: center;
}

a {
  color:#D95E16;
  padding:0 2px;
  text-decoration:none;
}

a:hover {
  background-color: #ffffff;
  text-decoration: underline;
}


div.errorExplanation {
    color: red;
}

#collection_select {
    width: 230px;
}

#turkish_flag {
    width: 30px;
    height: 30px;
    float: right;
}

#english_flag {
    width: 30px;
    height: 30px;
    float: right;
}

div.main_title a{
    display: block;
    font-size: 32px;
    font-weight: bold;
    clear: right;
    color: #000000;
}


#link_to_below_search{
    /*position: absolute;*/
    /*right: 10px;*/
  clear: right;
  float: right;
}


div.index{
    float: left;
}

#listing_jobs_line{
    clear: right;
    margin-bottom: 25px;
    border-bottom: 5px solid #333333;
}

.listing_jobs{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}



.current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

.asc {
  background-image: url(up_arrow.png);
}

.desc {
  background-image: url(down_arrow.png);
}

#select_box {
    width: 150px;
}

.pagination {
    margin-top: 50px;
    clear: both;
    float: left;
}

.pagination a{
    color:#D95E16;
}


#for_select_box_listing{
    display: none;
}

#for_all_listing{
    display: none;
}

#for_autocomplete_listing{
    display: none;
}

#select_box{
    float: left;
}

#main_list_link{
    float: right;
    color:#D95E16;
    margin-right: 10px;
}

#search_form_submit{
    float: right;
}

#search_form_text_field{
    float: right;
}