

/*
css rule yaratirken element icin specific - tam to the point - olmazsan
ise yaramiyor. Ornek:

div
  div
    a

div div a{}

*/

* {
  margin: 0 auto;
}

body{
    background-color: #fff;
    font-size: 1.1em;
    font-family: "Courier New";  /* "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
    width: 1000px;
}
p{
    font-size: 1em;
}
.sort_by{
    float: left;
    clear: both;
    margin-top: 40px;
}

/*.sort_by_links_tr a{
    text-align: left;
}*/


/*
.sort_by .sort_by_links a:hover{
    background-color:#FF813C;
    color:#FFFFFF;
    text-decoration: underline;
}*/

.menu {
    float: right;
    margin-top: 10px;
    /* .menu font color is set in application.js */
}

.menu a{
    color:#D95E16;
}
#header div.menu a:hover{
    background-color: #FF813C;
    color:#FFFFFF;
    text-decoration: underline;
}

#main_list_link{
    color:#D95E16;
    float: right;
    margin-right: 5px;
}

#main_list_link:hover{
    background-color: #FF813C;
    color:#FFFFFF;
    text-decoration: underline;
}

.list a{
    color:#D95E16;
}

.field1{
    clear: left;
    float: left;
}
.field2{
    float: left;
    padding-right: 10px;
}

#notice, #alert{
    font-size: 20px;
    color: red;
    margin-bottom: -10px;
    margin-top: 30px;
}

.captcha_alternatives {
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
    margin-top: 50px;
}

.select_box {
    width: 240px;
}

#log_in {
    float: right;
}
#footer{
    clear: left;
    position: relative;
    padding-top: 200px;
	text-align: center;
}

a {
  color:#D95E16;
  /*padding:0 2px;*/
  text-decoration: none;
}

a:hover {
  background-color:#FF813C;
  color:#FFFFFF;
  text-decoration: underline;
}


div.errorExplanation {
    color: red;
}

#collection_select {
    width: 230px;
}

#turkish_flag {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -20px;
}

#english_flag {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -20px;
}

div.main_title a{
    /*display: block;*/
    font-size: 32px;
    font-weight: bold;
    clear: right;
    color: #2e6e9e;
    box-shadow: 15px -5px 5px #888888;
}

div.main_title a:hover{
    background-color: white;
}

#link_to_below_search{
    /*position: absolute;*/
    /*right: 10px;*/
  clear: right;
  float: right;
}


div.index{
    float: left;
    margin-top: -20px;
}

#listing_jobs_line{
    clear: right;
    margin-bottom: 25px;
    border-bottom: 5px solid #dfeffc;
}

.listing_jobs{
    color: #2e6e9e;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}



.current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

.asc {
  background-image: url(up_arrow.png);
}

.desc {
  background-image: url(down_arrow.png);
}

#select_box {
    width: 150px;
}

.pagination {
    margin-top: 50px;
    clear: both;
    float: left;
}

.pagination a{
    color:#D95E16;
}

.pagination .current{
    margin-right: -15px;
}

.pagination a:hover {
  background-color:#FF813C;
  color:#FFFFFF;
  text-decoration: underline;
}

.for_select_box_listing{
    display: none;
}

.for_all_listing{
    display: none;
}

.for_autocomplete_listing{
    display: none;
}

#select_box{
    float: left;
}

#search_form_submit{
    height: 40px;
    width: 60px;
    padding: 0 0 5px;
    float: right;
    margin-left: 5px;
    margin-top: -10px;
}

.search_by_category .search_by_category_submit{
    height: 40px;
    width: 60px;
    float: left;
    padding: 0 0 5px;
    margin-left: 5px;
    margin-top: -10px;

}

#search_form_text_field{
    float: right;
    width: 175px;
    margin-right: 5px;
}

.job {
    margin-top: 50px;
}

.vr
{
    float: left;
    margin-top: 0;
    margin-left: -150px;
    margin-right: 50px;
}

.sign_in {
    margin-top: 50px;
}

.padlock{
    margin-top: 50px;
    margin-left: -150px;
    float: left;
    margin-right: 50px;

}

.konu{
    word-wrap: break-word;
    margin-left: 0;
    width: 500px;
}

.change_password{
    margin-top: 50px;
}

.new_job_form{
    margin-top: 20px;
}

h2.new_job_h2{
    margin-top: 50px;
    color: #2e6e9e;
}

h2{
    margin-top: 50px;
    color:#2e6e9e;
}
.errorExplanation{
    margin-bottom: 50px;
}

.highlight_error_class_title, .highlight_error_class_body{
    color: red;
}

.no_problem_class{
    color: black;
}

.spinner{
    float: right;
    margin-right: 5px;
    margin-top: 0;
}

input[type="submit"] {
    height: 50px;
    width: 100px;
}

div.actions .password_reset, div.actions .password_reset_submit{
    width: 175px;
}

.change_password_after_email{
    margin-top: 100px;
}

.comment{
    margin-top: 25px;
}

table, th,td{
    /*border: 5px solid black;*/
    position: relative;
    text-align: left;
}

table{
    top: -35px;
    width: 1000px;
    border-collapse: collapse;
}

/*td{
    white-space: nowrap;
}*/

tr.alt td {
    background: #dfeffc;
}

.kategori{
    width: 100px;
}

.location, .title{
    width: 85px;
}

.date{
    white-space: nowrap;
    width: 250px;
}
.show{
    font-size: 0.8em;
    text-align: center;
    width: 80px;
}

.member_specific_edit{
    font-size: 0.8em;
    text-align: center;
    width: 90px;
}

.member_specific_delete{
    font-size: 0.8em;
    text-align: center;
    width: 30px;
}

/*tr.over td {
    background: yellow;
}*/

a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
